step-function/step-function.json
{
  "StartAt": "ADD_JOB_ID_TO_INPUT",
  "States": {
    "ADD_JOB_ID_TO_INPUT": {
      "Type": "Pass",
      "Parameters": {
        "job_id.$": "$$.Execution.Name"
      },
      "ResultPath": "$.context",
      "Next": "JOB_RUNNING"
    },
    "JOB_RUNNING": {
      "Type": "Task",
      "Resource": "${LambdaArn}",
      "Parameters": {
        "job_id.$": "$.context.job_id",
        "job_type.$": "$.job_type",
        "user_id.$": "$.user_id",
        "status_code": "RUNNING",
        "job_parameters.$": "$.job_parameters",
        "start_time.$": "$$.Execution.StartTime",
        "description.$": "$.description"
      },
      "ResultPath": "$.results.job_running",
      "Next": "ADD_PREFIX_TO_JOB_PARAMETERS"
    },
    "ADD_PREFIX_TO_JOB_PARAMETERS": {
      "Type": "Pass",
      "InputPath": "$.context.job_id",
      "ResultPath": "$.job_parameters.bucket-prefix",
      "Next": "RTC_GAMMA"
    },
    "RTC_GAMMA": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobDefinition": "${RtcGammaJobDefinition}",
        "JobName.$": "$.context.job_id",
        "JobQueue": "${JobQueueArn}",
        "Parameters.$": "$.job_parameters"
      },
      "ResultPath": "$.results.rtc_gamma",
      "Next": "JOB_SUCCEEDED",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "JOB_FAILED",
        "ResultPath": "$.results.rtc_gamma"
      }]
    },
    "JOB_SUCCEEDED": {
      "Type": "Task",
      "Resource": "${LambdaArn}",
      "Parameters": {
        "job_id.$": "$.context.job_id",
        "status_code": "SUCCEEDED"
      },
      "ResultPath": "$.results.job_succeeded",
      "End": true
    },
    "JOB_FAILED": {
      "Type": "Task",
      "Resource": "${LambdaArn}",
      "Parameters": {
        "job_id.$": "$.context.job_id",
        "status_code": "FAILED"
      },
      "ResultPath": "$.results.job_failed",
      "End": true
    }
  }
}
